.widget-patient {
  color: #404040;

  .widget-patients{
    margin: 50px 0 0 40px ;
    font-family: sans-serif,Open;
    font-weight: bold;
  }
  .widgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 25px 25px 0 25px;
    color: white;
    // padding: 25px;
    

    .patients {
      display: flex;
      flex-direction: column;
    }

  }
 
  .widg-11, .widg-33{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
  }

  .widg-11 {
    background: linear-gradient(135deg, #ff7f7f, #ff9f9f);
    // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer;

  }

  .widg-33 {
    background: linear-gradient(135deg, #42a5f5, #64b5f6);
    // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

}