.patientsData {
    display: flex;
    // width: 80vw;
    // height: 100vh;
    margin-left: 250px;
    padding-top: 50px;
    // background-color: #f4f7fa;
    // overflow: scroll;

    .patientContainer {
        flex: 1;
        padding: 20px;
        // background-color: #fff;
        
        .datatable {
            max-width: 100%;
            height: 100vh;
            // overflow-x: auto;  
            // background-color: #ffffff;
            padding: 20px;
            // box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
            border-radius: 8px;
            margin: 0 auto;
    scrollbar-width: none;
    .created_attbtn,.addpatientbtn,.doctor_namebtn{
        
        padding: 10px 15px;
        margin-bottom: 10px;
        border: none;
        border-radius:10px ;
        font-weight: bold;
        background-color: #4DAAF5;
        // color: rgb(22, 22, 22);
        cursor: pointer;
        margin-right: 20px;
        &:hover{
            background-color: #4496cd;
            color: #fff;
        }
      
    }
   
        .buttonstatus{
            display: flex;
            gap: 20px;
            border: 1px solid red;
        }
        .inputfields{
            display: flex;
            justify-content: end;
            gap: 20px;
        }
        .inputfield{
            display: flex;
            justify-content: end;
            cursor: pointer;

        }
        
    .inputsearch{
        display: flex;
        border: none;
        outline: none;
        color: black;
        // border:2px solid #d9534f;
        border-bottom:2px solid red;
        padding: 10px 15px; 
        &:hover{
            border-bottom: 2px solid green;
        }
    
}
            .patient-table {
                width: 100%;
                // height: 80vh;
                margin-top: 20px;
                border-collapse: collapse;
                // overflow-x: scroll;
                

                th, td {
                    padding: 16px;
                    text-align: left;
                    border: 1px solid #ddd;
                    font-size: 1rem;
                }
                
                th {
                    background-color: #36C95F;
                    color: #fff;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                
                .edit{
                    transform: scale(1.05);
                }
              
                tr:hover {
                    // background-color: #7aec8d;
                    background-color: #90b8d2;
                }
                .icon{
                    cursor: pointer;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: 20px;

                button {
                    background-color:#4DAAF5;
                    color: #fff;
                    border: none;
                    padding: 10px 15px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1rem;
                    transition: background-color 0.3s ease;
                    
                    &.active {
                        background-color: #4DAAF5
                    }

                    &:hover:not(.active) {
                        background-color: #4496cd;
                    }
                }
            }
        }
    }
}

.status-emergency {
    color: red;
    font-weight: bold;
  }
  
  .status-normal {
    color: green;
    font-weight: bold;
  }