.single-patient-container {
 
  font-family: Arial, sans-serif;
  padding: 120px 0 0 500px;
 
}

.patient-card {
  min-width: 650px;
  height: 100vh;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  &:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);

  }
  button{
    background-color: #4daaf5;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    &:hover{
      background-color: #5897cb;
    }
  }
}

.profile-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.profile-image {
  width:200px;
  height:200px;
  border-radius: 15%;
  margin-right: 20px;
}

.profile-details {

  flex: 1;
}

.top-details{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  color: #28a745;
  .highlighted-cn{
    color: red;
  }
  h2 {
   margin: 0;
   font-size: 24px;
   color: #28a745;
  }
}


.highlighted-cn {
  font-weight: bold;
  color: #333;
}

.other-details p {
  margin: 5px 0;
  font-size: 14px;
}

.prescription-button {
  background-color:#4daaf5;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

.prescription-button:hover {
  background-color: #4daaf5;
}

.edit-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.editable-field {
  margin-bottom: 10px;
}

.editable-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  padding: 8px 12px;
  background-color: #4daaf5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color:#2a79b9;
    
  }
}


.prescription-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.prescription-table th, 
.prescription-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.prescription-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.advice-section {
  margin-top: 20px;
}

.advice-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.advice-section ul li {
  font-size: 14px;
}

.follow-up {
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
  color: red;
}



@media(max-width:767px){
  .single-patient-container {
    padding: 50px 0 0 ;
    .patient-card {
      min-width: 420px;
    }
    .profile-header {
    flex-direction: column;
    .profile-image {
      width:350px;
      height:250px;
    }
    .profile-details {
     

      flex: 1;
      .top-details{
        display: flex;
        justify-content: space-between;
        gap: 150px;
      }
    }
    }
   
  }
}
@media(max-width:370px){
  .single-patient-container {
    padding: 50px 0 0 ;
    .patient-card {
      min-width: 280px;
    }
    .profile-header {
    flex-direction: column;
    .profile-image {
      width:350px;
      height:250px;
    }
    .profile-details {
     

      flex: 1;
      .top-details{
        display: flex;
        justify-content: space-between;
        gap: 150px;
      }
    }
    }
   
  }
}