
.admin {
    display: flex;
    flex: 1; // Remaining space after sidebar
    padding-left: 260px; // Offset sidebar width for alignment
    padding-top: 40px;
    flex-direction: column;

    .admincontainer {
      display: flex;
      flex-direction: column;
    }

    .doctors {
      display: flex;
    }
  }
