.sidebar {
    position: fixed;
    top: 0;           
    left: 0;           
    height: 100vh;     
    width: 250px;      
    border-right: 5px solid lightgrey;
    background-color: white;  
    z-index: 1000;
    flex: 0 0 250;     

    .top {
        height: 9.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #50A071;
        }
    }

    hr {
        height: 0;
        border: 2px solid lightgrey;
    }
    
    .center {
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                font-size: 12px;
                font-weight: bold;
                color: #797777;
                margin-top: 15px;
                margin-bottom: 5px;
                cursor: pointer;
            }

            .green {
                background-color: #58B55C;
                border-radius: 5px 13px 50px 5px;
                transition: all 0.5s ease-in-out;
            }

            li {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                border-radius: 5px 13px 50px 5px;
                padding: 20px;
                position: relative;
                transition: transform 0.5s ease, background-color 0.5s ease; /* Add smooth transition */

                &:hover {
                    background-color: #58B55C;  /* Hover background */
                    border-radius: 5px 13px 50px 5px;  /* Hover border radius */
                    transform: translateY(1px); /* Smoothly move the background down */
                    color: #fff;
                }

                span {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        } 
    }
}
