.home{
    display: flex;
   .homeconatiner{
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 260px; /* Offset the content to the right to prevent overlap */
    padding-top: 40px;
 
}
.doctors{
    display: flex;
}
}