.sidebar {
    position: fixed;
    top: 0;           
    left: 0;           
    height: 100vh;     
    width: 250px;      
    border-right: 5px solid lightgrey;
    background-color: white;  
    z-index: 1000;
    flex: 0 0 250;     
  
    .top {
        height: 9.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #50A071;
        }
    }

    hr {
        height: 0;
        border: 2px solid lightgrey;
    }
    
    .center {
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                font-size: 12px;
                font-weight: bold;
                color: #797777;
                margin-top: 15px;
                margin-bottom: 5px;
                cursor: pointer;
            }


            .green{
                background-color: #797777;
            }
            li {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                padding: 20px;


                &:hover {
                    background-color: #58B55C;
                    border-radius: 5px 13px 50px 5px;
                }
            

                span {
                    font-size: 15px;
                    font-weight: bold;
                    // color: #353333;
                }
            }
           
        } 
    }


    
    .bottom{
    display: flex;
    justify-content:center;
    align-items: end;
    margin-top: 100px;
    position: relative;
    button{
        border: none;
        padding: 10px 30px 10px 40px;
        background: linear-gradient(to right, #bf0505, #f67e7e);
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }
    .logouticon{
        position: absolute;
        left:75px  ;

    }
    }
}
