.sidebar {
    position: fixed;  /* Fixes the sidebar to the viewport */
    top: 0;           /* Align the sidebar to the top of the viewport */
    left: 0;          /* Align the sidebar to the left of the viewport */
    height: 100vh;    /* Ensures the sidebar takes up the full height of the viewport */
    width: 250px;     /* Set the width of the sidebar */
    border-right: 5px solid lightgrey;
    background-color: white;  /* Optional: Background color for better contrast */
    z-index: 1000;    /* Ensure the sidebar is above other content */
  
    .top {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .logo {
            font-size: 20px;
            font-weight: bold;
            color: #50A071;
        }
    }

    hr {
        height: 0;
        border: 2px solid lightgrey;
    }
    
    .center {
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                font-size: 12px;
                font-weight: bold;
                color: #797777;
                margin-top: 15px;
                margin-bottom: 5px;
                cursor: pointer;
            }

            li {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                padding: 20px;

                &:hover {
                    background-color: #36C95F;
                    border-radius: 5px 13px 50px 5px;
                }

                span {
                    font-size: 15px;
                    font-weight: bold;
                    color: #353333;
                }
            }
        } 
    }
}
