/* Make the outer container a flex container */
.container {
  width:100%;
    display: flex;
    flex-direction: column; 
    padding: 50px 0 0 250px ;
    background-color: #F9F9F9;
  }
  
  /* Make the main-content area a flex container */
  .main-content {
    display: flex;
    flex: 1;  /* Takes up remaining space */
  }

  
  /* Content section styling */
  .homeinfo {
    flex: 6;  
    // padding: 60px 0 0 0;
    overflow-x: hidden;
    // min-width: 200px;
  }
  

  @media(max-width:767px){
    .container {
      width: 100%;
 
        padding: 50px 0 0 0  ;
      }
  }