.table{
    scrollbar-width: none;
   
    
    .tablePatient{
        font-size: 18px;
    }
    
    .tablecell{
        font-weight: bold !important;
    }
    .tablename{
        font-size: 16px !important;
    }
    .viewmore{
       
        color:#4CAF50    !important;
        font-size: 18px !important;
        cursor: pointer;
    }
    
    
    .tablecell {
        &.pending {
          color: #FFC107 !important;  
        }
      
        &.recovered {
          color: #4CAF50 !important;  
        }
      
        &.rejected {
          color: #F44336 !important;  
        }
      }
      
    }
    
    .form{
        display: flex;
        .button{
            cursor: pointer;
        }
    }