// Main Container Styles
.main-container {
  display: flex;
  min-height: 100vh;
  transition: margin-left 0.3s ease, flex 0.3s ease;
  flex: 6;


  &.collapsed {
    margin-left: 50px; // Adjust margin when sidebar is collapsed
  }
}

// Sidebar Styles
.main-sidebar {
  width: 250px;
  transition: width 0.3s ease;

  &.collapsed {
    width: 50px; // Collapsed width
  }

  .sidebar {
    flex: 1;
    transition: width 0.3s ease;

    &.collapsed {
      width: 50px;

      .logo {
        display: none; // Hide logo when collapsed
      }
    }

    .hamburger {
      cursor: pointer;
    }
  }
}

// Dashboard Content
.patient-dashboard-content {
  flex: 6;
  padding: 20px;
  transition: flex 0.3s ease;
  overflow-y: auto; 
  background-color: rgb(222, 219, 219);

  .main-container.collapsed & {
    flex: 8; // Adjust content area when sidebar is collapsed
  }

  h1 {
    margin-bottom: 20px;
  }
}

// Patient Dashboard Containers
.patient-dashboard-containers {
  display: flex;
  flex-direction: column;
}

// Patient Sidebar
.patient-sidebar {
  width: 250px; // Sidebar width
  background-color: #f4f4f4; // Sidebar background
  padding: 20px;
  position: sticky;
  top: 0; // Keep fixed during scrolling
}

// Doctor Details Section
.doctor-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;

  h3 {
    width: fit-content;
    padding: 10px 15px;
    position: relative;
    font-size: 30px;
    margin-top: 20px;
    color: #404040;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 15px;
      width: 100%;
      height: 5px; // Thickness of the line
      background-image: linear-gradient(to right, pink 10%, transparent 100%);
    }
  }

  // Doctor Cards Container
  .doctors-card2 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    button{
      background-color:#4daaf5;
    }
  }

  // Individual Doctor Card
  .doctor-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
   &:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
   }
    img{
      width: 100% ;
      height:auto;
    }

    h4 strong {
      color: #45a049;
      padding: 10px 15px;
      border-radius: 10px;
    }

    .disg {
      color: red;
    }
  }
}
