.appointments {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 150px 0 0 250px;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    // text-align: start;
    color: #2c3e50;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    img {
      width: 250px;
      height: 250px;
    }
  }

  .error-message {
    text-align: center;
    color: red;
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .patients-list {
    display: flex;
    flex-wrap: wrap;
    // gap: 20px;
    justify-content: center;
  }

  .patient-card {
    width: 45%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    // border: 2px solid red;


    p{
  &:nth-child(2){
    color: red;
    font-weight: bold;
 
  }
}
  .patient-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      color:green;
    }
  }

    h2 {
      margin: 0;
      font-size: 1.6rem;
      color: #2c3e50;
    }

    p {
      margin: 0.5rem 0;

      strong {
        color: #2c3e50;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .no-appointments {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    color: #555;
  }
}
